@model Header


<div class="header-area">
    <div class="main-header header-sticky">
        <div class="container-fluid">
            <div class="menu-wrapper">
                <!-- Logo -->
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index"><img src="~/assets/img/logo/@Model.HeaderLogo" alt=""></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu d-none d-lg-block">
                    <nav>
                        <ul id="navigation">
                            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-controller="Products" asp-action="Index">Products</a></li>
                            <li> <a asp-controller="Blogs" asp-action="Index">Blogs</a></li>
                            <li><a asp-controller="About" asp-action="Index">About</a></li>
                            <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Header Right -->
                <div class="header-right">
                    <ul>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li> <a asp-controller="Account" asp-action="Login"><span>Login</span></a></li>
                            <li><a asp-controller="Account" asp-action="Register"><span>Signup</span></a> </li>
                        }
                        else
                        {
                            <li> <a><span>@User.Identity.Name</span></a></li>
                            <li> <a asp-controller="Account" asp-action="Logout"><span>Logout</span></a></li>
                        }
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
            </div>
        </div>
    </div>
</div>
